In [217]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import Emily as ems

In [218]:
df = ems.cargar_dataset('HongKong_China_Data.csv')
df

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [219]:
valores_nulos=df.isnull().sum()
valores_nulos

source                                             0
host_id                                            0
host_name                                          0
host_since                                         0
host_location                                   2287
host_response_time                               317
host_response_rate                               317
host_acceptance_rate                             243
host_is_superhost                                 77
host_neighbourhood                               283
host_total_listings_count                          0
host_verifications                                 0
host_has_profile_pic                               0
host_identity_verified                             0
neighbourhood                                   5040
neighbourhood_cleansed                             0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                       1135
bathrooms_text                                    17
bedrooms                                         371
beds                                            1143
amenities                                          0
price                                           1124
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                    3251
last_review                                     3251
review_scores_rating                            3251
review_scores_accuracy                          3251
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               3251
dtype: int64

In [220]:
backfill = ems.sustituir(df, metodo = 'bfill', valor = None)
backfill

c:\Users\B_3mi\Downloads\Analítica de Datos\Prof. Alfredo\Actividad_4.1\Emily.py:28: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return df.fillna(method='bfill')

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,86%,f,The Peak,...,16/12/2011,02/11/2024,4.77,4.76,f,1,0,1,0,1.90
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [221]:
valores_nulos=bckfill.isnull().sum()
valores_nulos

source                                           0
host_id                                          0
host_name                                        0
host_since                                       0
host_location                                    3
host_response_time                               4
host_response_rate                               4
host_acceptance_rate                             4
host_is_superhost                                0
host_neighbourhood                               0
host_total_listings_count                        0
host_verifications                               0
host_has_profile_pic                             0
host_identity_verified                           0
neighbourhood                                   12
neighbourhood_cleansed                           0
property_type                                    0
room_type                                        0
accommodates                                     0
bathrooms                                        0
bathrooms_text                                   0
bedrooms                                         1
beds                                             0
amenities                                        0
price                                            0
minimum_nights                                   0
maximum_nights                                   0
minimum_minimum_nights                           0
maximum_minimum_nights                           0
minimum_maximum_nights                           0
maximum_maximum_nights                           0
minimum_nights_avg_ntm                           0
maximum_nights_avg_ntm                           0
availability_30                                  0
availability_60                                  0
availability_90                                  0
availability_365                                 0
number_of_reviews                                0
number_of_reviews_ltm                            0
number_of_reviews_l30d                           0
first_review                                    13
last_review                                     13
review_scores_rating                            13
review_scores_accuracy                          13
instant_bookable                                 0
calculated_host_listings_count                   0
calculated_host_listings_count_entire_homes      0
calculated_host_listings_count_private_rooms     0
calculated_host_listings_count_shared_rooms      0
reviews_per_month                               13
dtype: int64

In [222]:
bckfill2 = ems.sustituir(df, metodo = 'bfill', valor = None)
bckfill2

c:\Users\B_3mi\Downloads\Analítica de Datos\Prof. Alfredo\Actividad_4.1\Emily.py:28: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return df.fillna(method='bfill')

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,86%,f,The Peak,...,16/12/2011,02/11/2024,4.77,4.76,f,1,0,1,0,1.90
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [223]:
valores_nulos=bckfill2.isnull().sum()
valores_nulos

source                                           0
host_id                                          0
host_name                                        0
host_since                                       0
host_location                                    3
host_response_time                               4
host_response_rate                               4
host_acceptance_rate                             4
host_is_superhost                                0
host_neighbourhood                               0
host_total_listings_count                        0
host_verifications                               0
host_has_profile_pic                             0
host_identity_verified                           0
neighbourhood                                   12
neighbourhood_cleansed                           0
property_type                                    0
room_type                                        0
accommodates                                     0
bathrooms                                        0
bathrooms_text                                   0
bedrooms                                         1
beds                                             0
amenities                                        0
price                                            0
minimum_nights                                   0
maximum_nights                                   0
minimum_minimum_nights                           0
maximum_minimum_nights                           0
minimum_maximum_nights                           0
maximum_maximum_nights                           0
minimum_nights_avg_ntm                           0
maximum_nights_avg_ntm                           0
availability_30                                  0
availability_60                                  0
availability_90                                  0
availability_365                                 0
number_of_reviews                                0
number_of_reviews_ltm                            0
number_of_reviews_l30d                           0
first_review                                    13
last_review                                     13
review_scores_rating                            13
review_scores_accuracy                          13
instant_bookable                                 0
calculated_host_listings_count                   0
calculated_host_listings_count_entire_homes      0
calculated_host_listings_count_private_rooms     0
calculated_host_listings_count_shared_rooms      0
reviews_per_month                               13
dtype: int64